<button
  aria-label={{@aria-label}}
  class="copy-btn {{@class}} {{@classNames}}"
  disabled={{@disabled}}
  title={{@title}}
  type={{if @buttonType @buttonType "button"}}
  ...attributes
  {{did-insert this.setupElement}}
  {{clipboard
    text=@clipboardText
    target=@clipboardTarget
    action=@clipboardAction
    delegateClickEvent=@delegateClickEvent
    onSuccess=@success
    onError=@error
  }}
>
  {{yield}}
</button>